* {
  font-family: 'JetBrains Mono', monospace;
  box-sizing: border-box;
  color: #d03b00;
  letter-spacing: 0.5px;
}

body {
  background-color: #fdf7e9;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  border-radius: 90px;
}
